<div class="main">
  <form  [formGroup]="formLogin" (ngSubmit)="login()">
    <h3>Авторизация</h3>
    <div class="form-group">
      <label for="exampleName">Имя пользователя</label>
      <input type="text" class="form-control" formControlName="username" id="exampleName" aria-describedby="emailHelp" placeholder="Введите имя пользователя">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Пароль</label>
      <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Пароль">
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
    <a routerLink="/registration" class="ml-3">Регистрация</a>
  </form>
</div>
